openapi: 3.0.3
info:
  title: Scalable Press Billing API
  description: The Scalable Press API is a REST interface to a print-on-demand and fulfillment platform for custom apparel, accessories, and promotional products. It lets developers browse a wholesale blank-and-printed product catalog, generate price quotes (product, printing, and shipping costs), place and manage print-and-ship orders, track fulfillment through order and item events, create designs and product mockups, and retrieve billing invoices. Authentication uses HTTP Basic auth - your private API key is supplied as the password (the username is left blank). The API spans two versioned surfaces - v2 for product, quote, order, design, customization, and billing, and v3 for event and mockup - both served from https://api.scalablepress.com.
  version: '2.0'
  contact:
    name: Scalable Press
    url: https://scalablepress.com/docs/
servers:
- url: https://api.scalablepress.com
  description: Scalable Press API (v2 and v3 paths)
security:
- basicAuth: []
tags:
- name: Billing
  description: Invoices and payments.
paths:
  /v2/billing/invoice:
    get:
      operationId: listInvoices
      tags:
      - Billing
      summary: List invoices
      description: Lists the billing invoices on the account.
      responses:
        '200':
          description: A list of invoices.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/billing/invoice/{invoiceId}:
    parameters:
    - name: invoiceId
      in: path
      required: true
      description: The ID of the invoice.
      schema:
        type: string
    get:
      operationId: getInvoice
      tags:
      - Billing
      summary: Retrieve invoice
      description: Retrieves a single invoice by its ID.
      responses:
        '200':
          description: The requested invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/billing/invoice/{invoiceId}/pay/paypal:
    parameters:
    - name: invoiceId
      in: path
      required: true
      description: The ID of the invoice.
      schema:
        type: string
    post:
      operationId: payInvoicePaypal
      tags:
      - Billing
      summary: Pay invoice with PayPal
      description: Pays an invoice via PayPal.
      responses:
        '200':
          description: Payment result.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Invoice:
      type: object
      properties:
        invoiceId:
          type: string
        status:
          type: string
        total:
          type: number
        currency:
          type: string
        createdAt:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
        issues:
          type: array
          items:
            type: object
            additionalProperties: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Supply your private Scalable Press API key as the password; the username is left blank.
