openapi: 3.0.3
info:
  title: Scalable Press Billing Design API
  description: The Scalable Press API is a REST interface to a print-on-demand and fulfillment platform for custom apparel, accessories, and promotional products. It lets developers browse a wholesale blank-and-printed product catalog, generate price quotes (product, printing, and shipping costs), place and manage print-and-ship orders, track fulfillment through order and item events, create designs and product mockups, and retrieve billing invoices. Authentication uses HTTP Basic auth - your private API key is supplied as the password (the username is left blank). The API spans two versioned surfaces - v2 for product, quote, order, design, customization, and billing, and v3 for event and mockup - both served from https://api.scalablepress.com.
  version: '2.0'
  contact:
    name: Scalable Press
    url: https://scalablepress.com/docs/
servers:
- url: https://api.scalablepress.com
  description: Scalable Press API (v2 and v3 paths)
security:
- basicAuth: []
tags:
- name: Design
  description: Reusable design objects describing artwork and placement.
paths:
  /v2/design:
    post:
      operationId: createDesign
      tags:
      - Design
      summary: Create design object
      description: Creates a reusable design object describing artwork and its placement.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Design'
      responses:
        '200':
          description: The created design.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Design'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v2/design/{designId}:
    parameters:
    - name: designId
      in: path
      required: true
      description: The ID of the design.
      schema:
        type: string
    get:
      operationId: getDesign
      tags:
      - Design
      summary: Retrieve design object
      description: Retrieves a design object by its ID.
      responses:
        '200':
          description: The requested design.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Design'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteDesign
      tags:
      - Design
      summary: Delete design
      description: Deletes a design object by its ID.
      responses:
        '200':
          description: Deletion confirmation.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationError:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Design:
      type: object
      properties:
        designId:
          type: string
        sides:
          type: object
          additionalProperties: true
        name:
          type: string
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
        issues:
          type: array
          items:
            type: object
            additionalProperties: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Supply your private Scalable Press API key as the password; the username is left blank.
